header {
    position: relative;
    height: 56px;
    background-color: rgba(0, 100, 0, 1);
    padding-left: 56px;
}
h1 {
    display: inline;
    font-size: 24px;
    line-height: 56px;
}
#logo {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 48px;
    width: 48px;

}

.nav-link {
    padding: 0.5em 1.5em;
}