// import vars
@import "../_variables.scss";

.sidenavContainer {
    height: 100vh;
}

.sidenavMenu {
    width: $menuWidth;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    // position
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $headerHeight;
    z-index: 500;
    // style
    background-color: $cPrimary;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0px 1px 1px rgba(0,0,0,0.6);
    // text
    color:$tPrimary;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    text-align: center;
    line-height: $headerHeight;
    font-size: 30px;
    font-weight:  bold;
    .logo {
        display: inline-block;
        vertical-align: top;
        height: 0.7 * $headerHeight;
        width: 0.7 * $headerHeight;
        transform: translateY( 0.15 * $headerHeight); 
    }
    svg {
        position: absolute;
        top: 0.1 * $headerHeight;
        height: 0.8 * $headerHeight;
        width: 0.6 * $headerHeight;
        &.hamburger {
            right: 0.2 * $headerHeight;
        }
        &#back {
            left: 0.2 * $headerHeight;
            display: none;
            &.active {
                display: inline-block;
            }
        }
    }
}



main {
    position:  fixed;
    top: $headerHeight;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    z-index: 400;
    top: $headerHeight;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid $cContrast;
    background-color: $cBackground;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1em 0;
    &.active {
        display: block;
    }
}

svg {
    fill: $tPrimary;
    size: auto;
    transform: none;
}

.nav-link {
    padding: 0.5em 1.5em;
}


@media all and (orientation:landscape) { 
    main.sideBySide {
        right: calc(100vw - #{$portraitMainWidth});
        box-shadow: 2px 0px 2px rgba(0,0,0,0.6);
        .overlay {
            left: $portraitMainWidth;
            display: block;
        }
    }
}