// import vars
@import "../variables.scss";

.sidenavContainer {
    height: 100vh;
}

.sidenavMenu {
    width: 80vw;
}

header {
    // position
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $headerheight;
    z-index: 500;
    // style
    background-color: $cPrimary;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5), 0px 2px 2px rgba(0,0,0,0.6);
    // text
    color:$tPrimary;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    text-align: center;
    line-height: $headerheight;
    font-size: 30px;
    font-weight:  bold;
}
#logo {
    display: inline-block;
    vertical-align: top;
    height: calc(0.8 * #{$headerheight});
    width: calc(0.8 * #{$headerheight});
    transform: translateY( calc(0.1 * #{$headerheight})); 

}
#menu {
    position: absolute;
    top: calc(0.1 * #{$headerheight});
    right: calc(0.2 * #{$headerheight});
    height: calc(0.8 * #{$headerheight});
    width: calc(0.6 * #{$headerheight});
}
#back {
    position: absolute;
    top: calc(0.1 * #{$headerheight});
    left: calc(0.2 * #{$headerheight});
    height: calc(0.8 * #{$headerheight});
    width: calc(0.6 * #{$headerheight});
}

main {
    position:  fixed;
    top: $headerheight;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    z-index: 400;
    top: $headerheight;
    bottom: 0;
    width: 100vw;
    background-color: $cBackground;
    display: none;
}
.overlay.active {
    display: block;
}



svg {
    fill: $tPrimary;
}

.nav-link {
    padding: 0.5em 1.5em;
}
