<mat-sidenav-container class="sidenavContainer">
  <mat-sidenav #sidenav  position="end" mode="over" class="sidenavMenu">
    <div>
      <app-menu></app-menu>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <span (click)="location.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" id="back">
          <path fill-rule="evenodd" d="M6 3L0 8l6 5v-3h4V6H6z" />
        </svg>
      </span>
      <img src="./assets/images/nysl_logo.png" alt="logo" title="logo" id="logo" (click)="goTo(['/main'])">
      {{title}}
      <span (click)="sidenav.open()">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16" id="menu">
          <path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"/>
        </svg>
      </span>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>