// import vars&mixins
@import "../_variables.scss";
@import "../_mixins.scss";


.teamBadge {
    @include badge;
    p {
        margin: 0em 0;
        padding: 0;
    }
    text-align: left;
}

.score div {
    padding: 0;
}