<div class="teamBadge" *ngIf="format != 'rank'"  [ngClass]="{small: format === 'small', favorite: favorite}">
  <!-- if team not loaded -->
  <div *ngIf="!team">
    Loading...
  </div>
  
  <div *ngIf="team && team.id != 0" (click)="router.navigate(['/team/', team.id.toString()])">
    <!-- standard format -->
    <ng-container *ngIf="!format">
      <div class="d-flex">
        <div class="col-4 label">
          <img src="assets/images/team_logos/{{team.id}}.png">
        </div>
        <div class="col-8">
            <p>
              <strong>Coach: </strong>{{team.coach}}
            </p>
            <p>
              <strong>Home: </strong>{{school[team.home].name}} 
            </p>
        </div>
      </div>
    </ng-container>
    <!-- small format -->
    <ng-container *ngIf="format==='small'">
      <div class="label">
        <img src="assets/images/team_logos/{{team.id}}.png">
      </div>
    </ng-container>
  </div>
  <div *ngIf="team && team.id == 0" >
    <div class="text-center">
      <img src="assets/images/team_logos/{{team.id}}.png">
    </div>
  </div>
</div>

<!-- rank format -->  
<div class="rank" *ngIf="format==='rank'">
  <div >
    <strong>{{team.rank}}.</strong>
  </div>
  
  <div class="teamBadge" (click)="router.navigate(['/team/', team.id.toString()])">
    <img src="assets/images/team_logos/{{team.id}}.png">
  </div>
  <div>
    <strong>MP: </strong> {{team.mp}}
    <strong>W: </strong> {{team.win}}
    <strong>L: </strong> {{team.loss}}
    <strong>T: </strong> {{team.tie}}
    <br>
    <strong>Scored: </strong> {{team.goal_scored}}
    <strong>Taken: </strong> {{team.goal_taken}}
  </div>
</div>