// import vars&mixins
@import "../_variables.scss";
@import "../_mixins.scss";


.teamBadge {
    @include badge;
    p {
        margin: 0em 0;
        padding: 0;
    }
    &.small {
        width: 100px;
        display: inline-block;
    }
    .label {
        @include round;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.favorite {
        
    }
}



.rank {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto 12px auto;
    .teamBadge {
        background-color: $cContrast;
        padding: 0;
        margin: 0;
        width: 100px;
    }
}