// import vars&mixins
@import "../_variables.scss";
@import "../_mixins.scss";


.gameBadge {
    @include badge;
    text-align: center;
    .vs {
        line-height: 70px;
    }
}

.gameBadge.active {
    background-color: $cPrimary;
}