// import vars
@import "../_variables.scss";

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    .vs {
        margin: 0 2em;
    }
}

.noComments {
    color: #666;
    fill: #666;
    stroke: #666;
}