<div class="detail">
    <h3>
        {{game.name}}
    </h3>
    <p>
        <strong>Date: </strong> {{game.date}}
        <strong>Time: </strong> {{game.time}}
    </p>
    <p>
        <strong>Location: </strong>{{game.location}}
    </p>
    <p>
        <strong>Referee: </strong>{{game.referee}}
    </p>

    <h3>
        Teams
    </h3>
    <table class="table text-center">
        <tr *ngFor="let team of [findTeam(game.team1Id)]" (click)="router.navigate(['/team/' + team.id.toString()])">
            <td>
                <strong>{{team.name}}</strong>
                <br>
                Coach: {{team.coach}}
            </td>
        </tr>
        <tr class="noBackground">
            <td>
                <strong>vs.</strong>
            </td>
        </tr>
        <tr *ngFor="let team of [findTeam(game.team2Id)]" (click)="router.navigate(['/team/' + team.id.toString()])">
            <td>
                <strong>{{team.name}}</strong>
                <br>
                Coach: {{team.coach}}
            </td>
        </tr>

    </table>
</div>