<div *ngIf="team">
  <h3>Stats</h3>
  <p>
    <strong>Rank: </strong>
    {{team.rank}}
  </p>
  <p>
    <strong>Wins: </strong>
    {{team.win}}
    <strong> Losses: </strong>
    {{team.loss}}
  </p>
  <h3>Information</h3>
  <p>
    <strong>Coach: </strong>
    {{team.coach}}
  </p>
  <p>
    <strong>Home Field: </strong>
    {{team.home}}
  </p>
  <h3>Upcoming Games</h3>
  <table class="table">
    <tbody>
      <tr *ngFor="let game of games"  (click)="router.navigate(['/game/' + game.id.toString()])">
        <td>
          <div class="text-center">
            <span class="homeTeam"><strong>{{findTeam(game.team1Id).name}}</strong></span> vs.
            <strong>{{findTeam(game.team2Id).name}}</strong>
          </div>
          <div class="row">
            <div class="col-6">
              {{game.date}}, {{game.time}}
            </div>
            <div class="col-6 text-right">
              {{game.location}}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>