<div *ngIf="team">
  <div class="topRow">
    <div class="teamLogo">
      <img src="assets/images/team_logos/{{team.id}}.png">
    </div>
    <div>
      <ng-container *ngIf="user && favorite != undefined">
        <button (click)="followToggle()" class="btn">
          <ng-container *ngIf="!favorite" >
            follow
          </ng-container>
          <ng-container *ngIf="favorite" >
            unfollow
          </ng-container>
        </button>
      </ng-container>
    </div>
  </div>
    <hr>
  <p>
    <strong>Coach: </strong>
    {{team.coach}}
  </p>
  <p>
    <strong>Home Field: </strong>
    <a href="{{school[team.home].mapUrl}}">
      {{school[team.home].name}}
    </a>
  </p>
  <hr>
  <p>
    <strong>Rank: </strong>
    {{team.rank}}
  </p>
  <p>
    <strong>Wins: </strong>
    {{team.win}} / 
    <strong> Losses: </strong>
    {{team.loss}}
  </p>
  <p>
    <strong>Goals: scored: </strong>
    {{team.goal_scored}} /
    <strong> taken: </strong>
    {{team.goal_taken}}
  </p>
  <hr>
  <h3>Upcoming Games</h3>
  <ng-container *ngFor="let game of games">
    <app-badge-game [gameId]="game.id"></app-badge-game>
  </ng-container>
</div>