<div class="detail">
    <app-badge-team [teamId]="game.team1Id"></app-badge-team>
    <div class="text-center">
        <strong>vs.</strong>
    </div>
    <app-badge-team [teamId]="game.team2Id"></app-badge-team>
    <h3>Details:</h3>
    <p>
        <strong>Date: </strong> {{month[game.month].long}} {{game.day}}
        <strong>Time: </strong> {{game.time}}
    </p>
    <p>
        <strong>Location: </strong>
        <a href="{{school[game.location].mapUrl}}">
             {{school[game.location].name}}
        </a>
    </p>
    <p>
        <strong>Referee: </strong>{{game.referee}}
    </p>
</div>