<div *ngIf="team">
  <h3>Stats</h3>
  <p>
    <strong>Rank: </strong>
    {{team.rank}}
  </p>
  <p>
    <strong>Wins: </strong>
    {{team.win}}
    <strong> Losses: </strong>
    {{team.loss}}
  </p>
  <h3>Information</h3>
  <p>
    <strong>Coach: </strong>
    {{team.coach}}
  </p>
  <p>
    <strong>Home Field: </strong>
    <a href="{{school[team.home].mapUrl}}">
      {{school[team.home].name}}
    </a>
  </p>
  <h3>Upcoming Games</h3>
  <ng-container *ngFor="let game of games">
    <app-badge-game [gameId]="game.id"></app-badge-game>
  </ng-container>
</div>