<!-- todo - make add ngIf -->
<div>
    <h3 header-link="mygames">My Games</h3>
    <table class="table">
        <tr *ngFor="let game of myGames" (click)="router.navigate(['/game/${game.id}'])">
            <td>
                <div class="text-center">
                    <strong>{{findTeam(game.team1Id).name}}</strong> vs.
                    <strong>{{findTeam(game.team2Id).name}}</strong>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{game.date}}, {{game.time}}
                    </div>
                    <div class="col-6 text-right">
                        {{game.location}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3 header-link="upcoming">Upcoming</h3>
    <table class="table">
        <tr *ngFor="let game of games" (click)="router.navigate(['/game/${game.id}'])">
            <td>
                <div class="text-center">
                    <strong>{{findTeam(game.team1Id).name}}</strong> vs.
                    <strong>{{findTeam(game.team2Id).name}}</strong>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{game.date}}, {{game.time}}
                    </div>
                    <div class="col-6 text-right">
                        {{game.location}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>