// import vars
@import "../variables.scss";


.page {
    height: calc(100vh - #{$navheight + $headerheight + $subnavheight});
    bottom: 0;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}


.homeTeam {
    color: $cWarn;
}