<app-toc-subnav></app-toc-subnav>
<div class="page" [scrollTop]="scroll">
  <h3>Upcoming Events</h3>
  <div>
    <dl>
      <ng-container *ngFor="let event of events">
        <dt>{{event.date}}</dt>
        <dd>{{event.description}}</dd>  
      </ng-container>
    </dl>
  </div>
  <h3>About Us</h3>
  <div>
  <h4>Mission</h4>
    <p>
      To support young athletes living in Chicago's northside neighborhoods, who have an interest in learning and playing soccer, with opportunities to learn and practice skills related to the game of soccer, specifically those skills around team cooperation and good sportsmanship.
    </p>
    <h4>Vision</h4>
    <p>
      The Northside Youth Soccer League aspires to develop strong, well-rounded, and mindful athletes through the building of character, self-discipline, and leadership.
    </p>
    <h4>General Information</h4>
    <p>
      The Northside Youth Soccer League was established in 1996 to provide athletes residing in Chicago's northside neighborhoods an environment in which to learn and play soccer. To be a member of NYSL, you must be between the ages of 4 - 12 and reside in a Chicago northside neighborhood. NYSL is run by a small full-time staff, and relies on the generous volunteer time of parents and previous league members.
    </p>
  </div>
</div>