
<div class="page">
  <h3>Standings</h3>
  <table>
    <tr *ngFor="let team of teamsByRank">
      <td>
        {{team.rank}}.
      
    
        <strong>{{team.name}}</strong>
        win: {{team.win}}
        loss: {{team.loss}}
      </td>
    </tr>
  </table>
  <h3>League</h3>
  <table class="table">
    <tr *ngFor="let team of teams" (click)="router.navigate(['/team/' + team.id.toString()])">
      <td>
        <strong>{{team.name}}</strong>
      </td>
      <td>
        coach: {{team.coach}}
      </td>
    </tr>
  </table>
</div>