// import vars&mixins
@import "../_variables.scss";
@import "../_mixins.scss";



.subnav {
    box-shadow: 0 2px 2px $cBoxShadow;
    position: absolute;
    top: $navHeight;
    background-color: $cContrast;
    color: $cPrimary;
    z-index: 15;
    width: 100%;
    height: $subnavHeight;
    line-height: $subnavHeight;
    font-weight: bold;
}

a {
    color: $cPrimary
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 1em;
}