
<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="Home">
    <div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
      <app-home></app-home>
    </div>
  </mat-tab>
  <mat-tab label="Games">    
    <div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
      <app-games></app-games>
    </div>
    </mat-tab>
    <mat-tab label="Teams">
      <div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
        <app-teams></app-teams>
      </div>
    </mat-tab>
  </mat-tab-group>
  <app-toc-subnav></app-toc-subnav>
  
  