// import vars
@import "../_variables.scss";

.menu {
    height: 100vh;
    width: $menuwidth;
    background-color: $cMenuBackground;
    color: $cMenuText;
    svg {
        fill: $cMenuText;
        stroke: $cMenuText;
    }
}