// import vars
@import "../_variables.scss";

.sidenav {
    position: relative;
    height: 100vh;
    width: $menuWidth;
    background-color: $cMenuBackground;
    color: $cMenuText;
    svg {
        fill: $cMenuText;
        stroke: $cMenuText;
    }
}

.menu {
    position: absolute;
    top: 0;
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.menuItem {
    border-top: 2px solid $cMenuText;
    padding: 12px;
    width: $menuWidth;
    &:last-child {
        border-bottom: 2px solid $cMenuText;
    }
}

.log {
    position: absolute;
    bottom: 0;
    .activeUser {
        padding: 0 12px;
        text-align: right;
    }
}
