<h3>Standings</h3>
<table class="table">
  <tr *ngFor="let team of sortTeams('win')" (click)="router.navigate(['/team/${team.id}'])">
    <td>
      <strong>{{team.rank}}</strong>
    </td>
   
    <td>
      {{team.name}}
    </td>
    <td>
      wins: {{team.win}}
      <br> losses: {{team.loss}}
    </td>
  </tr>
</table>
<h3>League</h3>
<table class="table">
  <tr *ngFor="let team of sortTeams('name')" (click)="router.navigate(['/team/${team.id}'])">
    <td>
      <strong>{{team.name}}</strong>
    </td>
    <td>
      coach: {{team.coach}}
    </td>
  </tr>
</table>
