// mixins

@import './_variables.scss';

@mixin threeDBar {
    box-shadow: inset 0 2px 2px rgba(255,255,255,0.4), 0px 2px 2px $cBoxShadow;
}
@mixin badge {
    overflow: hidden;
    position: relative;
    display: block;
    justify-content: center;
    width: 85%;
    max-width: 400px;
    text-align: center;
    margin: 1em auto;
    padding: 0;
    @include standardBoxShadow();
    font-size: 14px;
    box-sizing: content-box;
    background-color: $cBackground;
    border-radius: 3px;
    img {
        height: 60px;
        width: auto;
        margin: 0.5rem;
    }
    &.active {
        box-shadow:  0 0 3px 3px $cContrast;
    }
    .label {
        background-color: $cPrimary;
        color: $tPrimary;
        font-weight: bold;
        font-size: 20px;
    }
    div {
        padding: 0em 0;
    }

}

@mixin standardBoxShadow {
    box-shadow: 2px 2px 2px $cBoxShadow;
}