// component sizes
$headerHeight: 48px;
$navHeight: 48px;
$subnavHeight: 36px;
$menuWidth: 200px;
$portraitMainWidth: 50vw;
$teamIconHeight: 70px;
$teamIconWidth: 70px;



// color palette
$cPrimary: #033949;
$tPrimary: #eeeedd;
$cSecondary: #719399;
$cContrast: #93c364;
$cContrast2: lighten($cContrast, 32%);
$cWarn: #93c364;

$cDetailBackground: $cContrast2;

$cBackground: #ffffff;
$cMenuBackground: #111111;
$cMenuText: $tPrimary;