// component sizes
$headerHeight: 48px;
$navHeight: 48px;
$menuWidth: 200px;
$portraitMainWidth: 50vw;
$teamIconHeight: 70px;
$teamIconWidth: 70px;



// color palette
$cPrimary: #033949;
$tPrimary: #eeeedd;
$cSecondary: #719399;
$cContrast: #93c364;
$cContrastLight: lighten($cContrast, 32%);
$cContrastDark: darken($cContrast, 10%);
$cWarn: #93c364;
$cBoxShadow: rgba(0,0,0,0.6);


$cBackground: #ffffff;
$cMenuBackground: #111111;
$cMenuText: $tPrimary;