// height of site header (title) bar
$headerheight: 48px;
$navheight: 48px;
$subnavheight: 36px;


// color palette
$cPrimary: #033949;
$tPrimary: #eeeedd;
// $cContrast: #719399;
$cSecondary: #719399;
$cContrast: #ab862d;

