// height of site header (title) bar
$headerheight: 48px;
$navheight: 48px;
$subnavheight: 36px;


// color palette
$cPrimary: #033949;
$tPrimary: #eeeedd;
$cSecondary: #719399;
$cContrast: #93c364;
$cContrast2: rgba($cContrast,0.6);
$cWarn: #93c364;

$cBackground: #ffffff;