/* @import 'bootstrap/dist/css/bootstrap.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// import vars
@import "./app/variables.scss";




// global styles ====================================================================
body {
    color: rgba(0,0,0,0.87);
}

img {
    width: 100%;
    height: auto;
}

.pcWrapper {
    max-width: 500px;
    position: relative;
}

h3 {
    color: #fff;
    background-color: $cPrimary;
    border: 1px 0 solid $cSecondary;
    box-shadow: 1.5px 0 1.5px rgba(0,0,0,0.87);
}