/* @import 'bootstrap/dist/css/bootstrap.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// import vars
@import "./app/variables.scss";



// global styles ====================================================================
body {
    color: rgba(0,0,0,0.87);
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
h3 {
    color: $tPrimary;
    background-color: $cPrimary;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.5),0px 2px 2px rgba(0,0,0,0.6);
    padding: 3px 16px;
    margin-top: 0.5em;
}
p,h4,dt,dd {
    padding-left: 1rem;
    padding-right: 1rem;
}



.table tr {
    background-color: rgba($cPrimary,0.3);
}

.noBackground {
    background-color: transparent !important;
}

// overwrite material styles
.mat-ink-bar {
    background-color: $cContrast2 !important;
    height: calc(#{$navheight}) !important; 
}
.mat-tab-label {
    color: $cPrimary !important;
    font-weight: bold !important;
    font-size: 16px !important;
    z-index: 200;
    opacity: 1 !important;
}

.mat-tab-group.mat-primary .mat-tab-label:focus {
    background-color: transparent !important;
}


.mat-tab-group {
    z-index: 20;
    box-shadow: 0 2px 2px rgba(0,0,0,0.6)
}

